@import '~@angular/material/theming';

$base-green: #4EA932;
$secoundary-green: #8CB081;
$base-filler: #C9D2C6;

$app-primary: mat-palette($mat-green);
$app-accent: mat-palette($mat-gray);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
