.card-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.form-field-container {
    margin: 0 6px;
    width: 100%;
    .form-text-search {
        width: 300px;
    }

    button {
        width: 300px;
    }

    &.footer {
        height: 24px;
    }
}