.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
  }

.form-field-container {
    margin: 0 6px;
    width: 100%;
    .form-text-search {
        width: 300px;
    }

    button {
        width: 300px;
    }

    &.footer {
        height: 24px;
    }
}