.form-field-container {
    margin: 0 6px;
    width: 100%;
    .form-text-search {
        width: 300px;
    }

    button {
        width: 300px;
        margin: 4px 0;
    }

    &.footer {
        height: 24px;
        display: flex;
        align-items: flex-end;
        color: red;
    }
}

.spinner-container {
    margin: auto;
    width: 36px;
}