.card-container {
  &.user-form {
    height: 90%;
  }

  .form-text-search {
    width: 400px;
    margin: 0 24px;
  }

  .form-field-container {
    margin: 18px 0 40px;
    display: flex;

    button {
      margin: 8px 4px;
      height: 40px;
      width: 115px;
    }
  }
}

.feedback {
  color: green;
  margin: 0 18px 0 50px;
  line-height: 55px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.spinner-container {
  margin: auto;
  width: 36px;
}
