@import "styles/variables";

body {
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

.page-container {
  background-image:
    linear-gradient(330deg, $base-green 45%, transparent 45%),
    linear-gradient(310deg, $secoundary-green 55%, transparent 55%),
    linear-gradient(290deg, $base-filler 65%, transparent 65%);

}

.mat-toolbar {
  background-image:
    linear-gradient(290deg, $base-green 60%, transparent 50%),
    linear-gradient(290deg, $secoundary-green 65%, transparent 55%),
    linear-gradient(290deg, $base-filler 70%, transparent 60%);
}
